@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h3 {
  font-family: "Comfortaa", cursive;
}

.container {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(9, 1fr);
  grid-auto-columns: 1fr;
  gap: 8px 8px;
  grid-auto-flow: row;
  grid-template-areas: "grey-blue . . . . . . . . . . . . . . . yellow1 ." "pink1 paleg1 . . . . . . . . .  mint1 red1 peach1 peach2 peach3 yellow2 ." "pink2 paleg2 . . . . . . . . .  sky1 mint2 red2 red3 peach4 yellow3 ." "pink3 paleg3 sky2 sky3 sky4 sky5 sky6 sky7 sky8 sky9 sky10 sky11 mint3 mint4 red4 peach5 yellow4 ." "pink4 paleg4 sky12 sky13 sky14 sky15 sky16 sky17 sky18 sky19 sky20 sky21 sky22 mint5 mint6 peach6 yellow5 ." "pink5 paleg5 aqua1 sky23 sky24 sky25 sky26 sky27 sky28 sky29 sky30 sky31 sky32 sky33 sky34 mint7 yellow6 ." "pink6 paleg6 lime1 sky35 sky36 sky37 sky38 sky39 grey1 grey2 grey3 sky40 grey4 grey5 grey6 grey7 grey8 ." ". . . aqua2 aqua3 aqua4 aqua5 aqua6 aqua7 aqua8 aqua9 aqua10 aqua11 aqua12 aqua13 aqua14 . ." ". . . lime2 lime3 lime4 lime5 lime6 lime7 lime8 lime9 lime10 lime11 lime12 lime13 lime14 . .";
}

body {
  background-color: black;
  width: 70%;
}

.card {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 3px;
}
.card__number {
  position: absolute;
  left: 1px;
  bottom: 1px;
  font-size: 0.5rem;
}

h3 {
  -webkit-text-decoration: dotted underline;
          text-decoration: dotted underline;
}

.grey-blue {
  grid-area: grey-blue;
  background-color: #a2c7d2;
}

.yellow1 {
  grid-area: yellow1;
  background-color: #e9da23;
}

.yellow2 {
  grid-area: yellow2;
  background-color: #e9da23;
}

.yellow3 {
  grid-area: yellow3;
  background-color: #e9da23;
}

.yellow4 {
  grid-area: yellow4;
  background-color: #e9da23;
}

.yellow5 {
  grid-area: yellow5;
  background-color: #e9da23;
}

.yellow6 {
  grid-area: yellow6;
  background-color: #e9da23;
}

.pink1 {
  grid-area: pink1;
  background-color: #ebc1d9;
}

.pink2 {
  grid-area: pink2;
  background-color: #ebc1d9;
}

.pink3 {
  grid-area: pink3;
  background-color: #ebc1d9;
}

.pink4 {
  grid-area: pink4;
  background-color: #ebc1d9;
}

.pink5 {
  grid-area: pink5;
  background-color: #ebc1d9;
}

.pink6 {
  grid-area: pink6;
  background-color: #ebc1d9;
}

.paleg {
  grid-area: paleg1;
  background-color: #c1ebc0;
}

.paleg2 {
  grid-area: paleg2;
  background-color: #c1ebc0;
}

.paleg3 {
  grid-area: paleg3;
  background-color: #c1ebc0;
}

.paleg4 {
  grid-area: paleg4;
  background-color: #c1ebc0;
}

.paleg5 {
  grid-area: paleg5;
  background-color: #c1ebc0;
}

.paleg6 {
  grid-area: paleg6;
  background-color: #c1ebc0;
}

.mint1 {
  grid-area: mint1;
  background-color: #4bd27d;
}

.mint2 {
  grid-area: mint2;
  background-color: #4bd27d;
}

.mint3 {
  grid-area: mint3;
  background-color: #4bd27d;
}

.mint4 {
  grid-area: mint4;
  background-color: #4bd27d;
}

.mint5 {
  grid-area: mint5;
  background-color: #4bd27d;
}

.mint6 {
  grid-area: mint6;
  background-color: #4bd27d;
}

.mint7 {
  grid-area: mint7;
  background-color: #4bd27d;
}

.red1 {
  grid-area: red1;
  background-color: #d14b51;
}

.red2 {
  grid-area: red2;
  background-color: #d14b51;
}

.red3 {
  grid-area: red3;
  background-color: #d14b51;
}

.red4 {
  grid-area: red4;
  background-color: #d14b51;
}

.peach1 {
  grid-area: peach1;
  background-color: #eab37e;
}

.peach2 {
  grid-area: peach2;
  background-color: #eab37e;
}

.peach3 {
  grid-area: peach3;
  background-color: #eab37e;
}

.peach4 {
  grid-area: peach4;
  background-color: #eab37e;
}

.peach5 {
  grid-area: peach5;
  background-color: #eab37e;
}

.peach6 {
  grid-area: peach6;
  background-color: #eab37e;
}

.sky1 {
  grid-area: sky1;
  background-color: #5ac2ea;
}

.sky2 {
  grid-area: sky2;
  background-color: #5ac2ea;
}

.sky3 {
  grid-area: sky3;
  background-color: #5ac2ea;
}

.sky4 {
  grid-area: sky4;
  background-color: #5ac2ea;
}

.sky5 {
  grid-area: sky5;
  background-color: #5ac2ea;
}

.sky6 {
  grid-area: sky6;
  background-color: #5ac2ea;
}

.sky7 {
  grid-area: sky7;
  background-color: #5ac2ea;
}

.sky8 {
  grid-area: sky8;
  background-color: #5ac2ea;
}

.sky9 {
  grid-area: sky9;
  background-color: #5ac2ea;
}

.sky10 {
  grid-area: sky10;
  background-color: #5ac2ea;
}

.sky11 {
  grid-area: sky11;
  background-color: #5ac2ea;
}

.sky12 {
  grid-area: sky12;
  background-color: #5ac2ea;
}

.sky13 {
  grid-area: sky13;
  background-color: #5ac2ea;
}

.sky14 {
  grid-area: sky14;
  background-color: #5ac2ea;
}

.sky15 {
  grid-area: sky15;
  background-color: #5ac2ea;
}

.sky16 {
  grid-area: sky16;
  background-color: #5ac2ea;
}

.sky17 {
  grid-area: sky17;
  background-color: #5ac2ea;
}

.sky18 {
  grid-area: sky18;
  background-color: #5ac2ea;
}

.sky19 {
  grid-area: sky19;
  background-color: #5ac2ea;
}

.sky20 {
  grid-area: sky20;
  background-color: #5ac2ea;
}

.sky21 {
  grid-area: sky21;
  background-color: #5ac2ea;
}

.sky22 {
  grid-area: sky22;
  background-color: #5ac2ea;
}

.sky23 {
  grid-area: sky23;
  background-color: #5ac2ea;
}

.sky24 {
  grid-area: sky24;
  background-color: #5ac2ea;
}

.sky25 {
  grid-area: sky25;
  background-color: #5ac2ea;
}

.sky26 {
  grid-area: sky26;
  background-color: #5ac2ea;
}

.sky27 {
  grid-area: sky27;
  background-color: #5ac2ea;
}

.sky28 {
  grid-area: sky28;
  background-color: #5ac2ea;
}

.sky29 {
  grid-area: sky29;
  background-color: #5ac2ea;
}

.sky30 {
  grid-area: sky30;
  background-color: #5ac2ea;
}

.sky31 {
  grid-area: sky31;
  background-color: #5ac2ea;
}

.sky32 {
  grid-area: sky32;
  background-color: #5ac2ea;
}

.sky33 {
  grid-area: sky33;
  background-color: #5ac2ea;
}

.sky34 {
  grid-area: sky34;
  background-color: #5ac2ea;
}

.sky35 {
  grid-area: sky35;
  background-color: #5ac2ea;
}

.sky36 {
  grid-area: sky36;
  background-color: #5ac2ea;
}

.sky37 {
  grid-area: sky37;
  background-color: #5ac2ea;
}

.sky38 {
  grid-area: sky38;
  background-color: #5ac2ea;
}

.sky39 {
  grid-area: sky39;
  background-color: #5ac2ea;
}

.sky40 {
  grid-area: sky40;
  background-color: #5ac2ea;
}

.lime1 {
  grid-area: lime1;
  background-color: #a1d24a;
}

.lime2 {
  grid-area: lime2;
  background-color: #a1d24a;
}

.lime3 {
  grid-area: lime3;
  background-color: #a1d24a;
}

.lime4 {
  grid-area: lime4;
  background-color: #a1d24a;
}

.lime5 {
  grid-area: lime5;
  background-color: #a1d24a;
}

.lime6 {
  grid-area: lime6;
  background-color: #a1d24a;
}

.lime7 {
  grid-area: lime7;
  background-color: #a1d24a;
}

.lime8 {
  grid-area: lime8;
  background-color: #a1d24a;
}

.lime9 {
  grid-area: lime9;
  background-color: #a1d24a;
}

.lime10 {
  grid-area: lime10;
  background-color: #a1d24a;
}

.lime11 {
  grid-area: lime11;
  background-color: #a1d24a;
}

.lime12 {
  grid-area: lime12;
  background-color: #a1d24a;
}

.lime13 {
  grid-area: lime13;
  background-color: #a1d24a;
}

.lime14 {
  grid-area: lime14;
  background-color: #a1d24a;
}

.grey1 {
  grid-area: grey1;
  background-color: #b9babc;
}

.grey2 {
  grid-area: grey2;
  background-color: #b9babc;
}

.grey3 {
  grid-area: grey3;
  background-color: #b9babc;
}

.grey4 {
  grid-area: grey4;
  background-color: #b9babc;
}

.grey5 {
  grid-area: grey5;
  background-color: #b9babc;
}

.grey6 {
  grid-area: grey6;
  background-color: #b9babc;
}

.grey7 {
  grid-area: grey7;
  background-color: #b9babc;
}

.grey8 {
  grid-area: grey8;
  background-color: #b9babc;
}

.aqua1 {
  grid-area: aqua1;
  background-color: #c0eaec;
}

.aqua2 {
  grid-area: aqua2;
  background-color: #c0eaec;
}

.aqua3 {
  grid-area: aqua3;
  background-color: #c0eaec;
}

.aqua4 {
  grid-area: aqua4;
  background-color: #c0eaec;
}

.aqua5 {
  grid-area: aqua5;
  background-color: #c0eaec;
}

.aqua6 {
  grid-area: aqua6;
  background-color: #c0eaec;
}

.aqua7 {
  grid-area: aqua7;
  background-color: #c0eaec;
}

.aqua8 {
  grid-area: aqua8;
  background-color: #c0eaec;
}

.aqua9 {
  grid-area: aqua9;
  background-color: #c0eaec;
}

.aqua10 {
  grid-area: aqua10;
  background-color: #c0eaec;
}

.aqua11 {
  grid-area: aqua11;
  background-color: #c0eaec;
}

.aqua12 {
  grid-area: aqua12;
  background-color: #c0eaec;
}

.aqua13 {
  grid-area: aqua13;
  background-color: #c0eaec;
}

.aqua14 {
  grid-area: aqua14;
  background-color: #c0eaec;
}/*# sourceMappingURL=style.css.map */